<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../my-login.html" />
<link rel="import" href="../my-bbva.html" />

<dom-module id="bbva_front-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <app-localstorage-document id="meta" key="meta" data="{{metadata}}"></app-localstorage-document>

      <template is="dom-if" if="{{_isIgual(metadata.isLogin, 'NOK')}}">
        <my-login id="id_my_login"  api=[[api]]  on-login-ok="login" ></my-login>
      </template>
      <template is="dom-if" if="{{_isIgual(metadata.isLogin, 'OK')}}">
        <my-bbva id="id_my_bbva"  api=[[api]]  metadata={{metadata}}  on-logout-ok="logout"  ></my-bbva>
      </template>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Bbva_frontApp extends Polymer.Element {
      static get is() { return 'bbva_front-app'; }
      static get properties() {
        return {
          api: {
                type: Object,
                value: {
                        //"bd_host":"http://localhost:3000/apibbva/",
                        "bd_host":"http://localhost:3001/apibbva/",
                        "bd_usuario":"usuario",
                        "bd_usuarios":"usuarios",
                        "bd_cuenta":"cuenta",
                        "bd_movimiento":"movimiento"
                      }
                    },
          isLogin: {
            type: String,
            value: 'bbva_front-app'
          },
          metadata: {
            type: Object,
            value: {    "isLogin":"NOK"   }
          }
        };

      }

      constructor() {
        super();
      }

      ready() {
        super.ready();
      }

      login() {
      //  console.log("en polymer padre");
      //  console.log(this.$.meta.__data);
      //  console.log(this.metadata);
      console.log("polymer principal");
      //this.isLogin = this.$.meta.isLogin;
    //  console.log(this.$.meta.data.isLogin);
      this.isLogin = this.$.meta.data.isLogin;

      //  if (this._isIgual(this.metadata.isLogin,'OK'))
      //     this.$.id_my_login.style.visibility = "hidden";

      //  else
      //     this.$.id_my_login.style.visibility = "visible";

      //  console.log(this.$.id_my_login);
        console.log(this.$.meta.data);
      }

      logout(){
          console.log("cierro sesion");
      //    console.log(window.localStorage);
          window.localStorage.clear();
          window.location.reload();
      }

    _isIgual(title, string){
      console.log("llamo a is igual");
      //console.log(title);
      if (typeof title === "undefined")
          return 'NOK' == string;
      else
          return title == string;

     }

    }

    window.customElements.define(Bbva_frontApp.is, Bbva_frontApp);
  </script>
</dom-module>
