<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="./my-usuario.html" />
<link rel="import" href="./my-cuentas.html" />

<dom-module id="my-bbva">
  <template>
    <style>
      :host {
        display: block;
      }
      .imgLogo{ width: 250px; height: 100px; }
    </style>

    <!--<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">-->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

    <link href="../recursos/css/bootstrap.css" rel="stylesheet" />
  <!--  <link href="../recursos/css/bootstrap.min.css" rel="stylesheet" />-->
    <link href="../recursos/css/style.css" rel="stylesheet" />

    <app-localstorage-document id="meta" key="meta" data="{{metadata}}"></app-localstorage-document>

    <header>
      <div class="container">
       <div class="row ">
          <div class="col-md-9"> <h4><a>¡Hola [[metadata.cliente.nombre]] [[metadata.cliente.apellido1]]! </a></h4> </div>
          <div class="col-md-3;right-div">
            <paper-button id='id_boton_logout' class="btn btn-info pull-right" style="width: 100%;"  on-tap="logout">Cerrar Sesión</paper-button>
          </div>
        </div>
        <div class="row ">
            <div class="view overlay col-md-12">
              <img src="recursos/img/CuentaBlueKids.jpg" class="card-img-top"  alt="Card image cap"  />
            </div>
          </div>
        </div>
    </header>

    <div class="content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-6">
              <template is="dom-if" if="{{_isEqualTo(metadata.isLogin, 'OK')}}">
                    <template is="dom-if" if="{{_isEqualTo(metadata.perfil, 'admin')}}">
                        <my-usuario api=[[api]] ></my-usuario>
                    </template>
                    <template is="dom-if" if="{{!_isEqualTo(metadata.perfil, 'admin')}}">
                        <my-cuentas api=[[api]]  metadata={{metadata}}></my-cuentas>
                    </template>
              </template>
            </div>
          </div>
          <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-6"></div>
          </div>
          <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-6"></div>
          </div>
         </div>
    </div>

    <footer class="page-footer font-small blue pt-4">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                 &copy; 2019 Bbva.com |<a href="http://www.bbva.com/" target="_blank"  > Creado por Vero Revilla</a>
              </div>
          </div>
      </div>
    </footer>

 </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyBbva extends Polymer.Element {
      static get is() { return 'my-bbva'; }
      static get properties() {
        return {
          api: {
            type: Object
            },
          metadata: {
            type: Object,
            value: {}
          }
        };
      }
      constructor() {
        super();
      }
      ready(){
        super.ready();

      }

      _isEqualTo(title, string) {      
        return title == string;
      }

      logout() {
            this.dispatchEvent(new CustomEvent('logout-ok'));
          }
    }

    window.customElements.define(MyBbva.is, MyBbva);
  </script>
</dom-module>
