<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" >
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="./my-movimientos.html">

<dom-module id="my-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }

      </style>

      <link href="../recursos/css/bootstrap.css" rel="stylesheet" />
      <!--<link href="../recursos/css/bootstrap.min.css" rel="stylesheet" />-->
      <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

      <link href="../recursos/css/style.css" rel="stylesheet" />

<app-localstorage-document id="meta" key="meta" data="{{metadata}}"></app-localstorage-document>

<template is="dom-if" if="{{_isEqualTo(is_mov, 'NOK')}}" >
  <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
             <div class="panel panel-success">
               <div class="panel-heading">
                    <span class="font-weight: bold;">  </span>
               </div>
               <div class="panel-body">
                   <div class="table-responsive">
                       <table class="table table-striped table-bordered table-hover  w-auto">
                           <thead>
                               <tr class="text-center">
                                   <th>Producto </th>
                                   <th>Cuenta   </th>
                                   <th>Moneda   </th>
                                   <th>Saldo    </th>
                                   <th>Movimientos</th>
                               </tr>
                           </thead>
                           <tbody>
                               <template is="dom-repeat" items={{cuentas}} as="val">
                                   <tr>
                                       <td>{{val.dessubprod}}</td>
                                       <td>{{val.cuenta}}</td>
                                       <td>{{val.moneda}}</td>
                                       <td>{{_FormatNumber(val.saldo,2)}}</td>
                                       <td> <button class="btn btn-success"  on-tap='_Movimiento' data-item$='[[val]]' >Movimientos</button></td>
                                   </tr>
                                 </template>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
    </div>
  </template >

  <!-- VIEW MOV-->
  <template is="dom-if" if="{{_isEqualTo(is_mov, 'OK')}}">
       <my-movimientos api=[[api]]  cuenta=[[cuenta]] is_mov={{is_mov}}  metadata={{metadata}}  on-refaccount="isRefresh" ></my-movimientos>
  </template >


  <iron-ajax
    id="doCuentasGet"
    auto
    url=[[api.bd_host]][[api.bd_cuenta]]/{{metadata.cliente.dni}}
    content-type="application/json"
    method="GET"
    handle-as="json"
    on-response="cuentasAJAXResponse"
    on-error="showErrorCuentas"
    headers ='{"Accept" : "application/json; charset=utf-8","Content-Type": "application/json; charset=utf-8"}'>
</iron-ajax>

</template>

  <script>
    class MyCuentas extends Polymer.Element {
      static get is() { return 'my-cuentas'; }
      static get properties() {
        return {
          cuentas: {
            type: Array
          },
          is_mov: {
            type: String,
            value:"NOK"
          },
          is_refresh: {
            type: String,
            value:"1"
          },
          api: {
            type: Object
          },
          cuenta: {
            type: Object,
            value: {}
          },
          is_cuenta: {
            type: String,
            notify: true
          },
          metadata: {
           type: Object,
           value: {}
         }
        };
      }

      constructor() {
        super();
      }
      ready(){
        super.ready();
        console.log("Estoy listo polymer cuentas. ");
        console.log(this.metadata);
      }


      cuentasAJAXResponse(data) {
        console.log("ejecuto cuentaAJAX");
        this.cuentas=data.detail.response;
        console.log(this.cuentas);
      }

      showErrorCuentas(error) {
        console.log("Error cuentas: "+error);
      }

      _isEqualTo(title, string){
        return title == string;
      }

      isRefresh(e){
        console.log("quiero refrescar....")
        if(e.detail.refrescar == "S"){
          this.$.doCuentasGet.generateRequest();
          e.detail.refrescar = 'N';
        }
      }

      _Movimiento(e){
        console.log("quiero ver movimiento");
        var val = JSON.parse(Polymer.dom(e).localTarget.dataset.item);
        this.cuenta = val;
        console.log(this.cuenta);
        this.is_mov="OK";
        }

         _FormatNumber(amount, decimals) {

           amount += ''; // por si pasan un numero en vez de un string
           amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

           decimals = decimals || 0; // por si la variable no fue fue pasada

           // si no es un numero o es igual a cero retorno el mismo cero
           if (isNaN(amount) || amount === 0)
            return parseFloat(0).toFixed(decimals);

            // si es mayor o menor que cero retorno el valor formateado como numero
            amount = '' + amount.toFixed(decimals);

            var amount_parts = amount.split('.'),
            regexp = /(\d+)(\d{3})/;

            while (regexp.test(amount_parts[0]))
              amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');

            return amount_parts.join('.');
          }

}

    window.customElements.define(MyCuentas.is, MyCuentas);
  </script>
</dom-module>
