<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="my-login">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button
      {
        text-transform: none;
        text-font-family: sans-serif;
      }

    </style>

    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link href="../recursos/css/bootstrap.css" rel="stylesheet" />
    <!--    <link href="../recursos/css/bootstrap.min.css" rel="stylesheet" />-->
    <link href="../recursos/css/style.css" rel="stylesheet" />

    <app-localstorage-document id="meta" key="meta" data="{{metadata}}"></app-localstorage-document>
    <div class="container">

      <form id="form" is="iron-form" align="center" action="/login" method="POST">
          <div class="card" style="width: 18rem;">

          <div class="card-body">
             <div class="view overlay">
                  <img class="card-img-top" src="recursos/img/kids.jpg" alt="Card image cap"  />
            </div>

            <div class="card-body">
              <h4 class="card-title"><a> ¡Bienvenido!</a></h4>
              <div class="form-group row">
                <paper-input label="DNI" name="DNI" value="{{userdni}}"
                maxlength="8"  placeholder=""
                pattern="[0-9]{8}" allowed-pattern="[0-9]" required ></paper-input>
              </div>
              <div class="form-group row">
                <paper-input label="Contraseña" name="Contraseña" value="{{userdni}}"
                maxlength="8"  placeholder="" type="password"
                required ></paper-input>
              </div>

              <div class="form-group row">
                <paper-button id='id_boton_login' class="btn btn-primary active"   on-tap="login"><b>Ingresar</b></paper-button>
              </div>
            </div>
          </div>
        </div>
     </form>
   </div>
  </template>

  <script>

  /*  function _submit(event) {
          Polymer.dom(event).localTarget.parentElement.submit();
       }
*/
    /**
     * @customElement
     * @polymer
     */
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
        return {
          userdni: {
            type: String,
            value: '00000000',
            notify: true
          },
          userclave: {
               type: String,
               notify: true
           },
           error_username: {
               type: String,
               value:"Usuario inválido.",
               notify: true
           },
          metadata: {
              type: Object,
              value: {    "isLogin":"NOK"   }
          },

          api: {
            type: Object
            }

         };
       }

       constructor() {
         super();
       }

       ready(){
         super.ready();
       }

      attached(){
      }

      _isIgual(title, string){
               return title == string;
       }

      login() {
         this.consultaUsuarioBD();
         this.dispatchEvent(new CustomEvent('login-ok'));
       }

      consultaUsuarioBD()
      {
        var url = this.api.bd_host + this.api.bd_usuario+'/'+ this.userdni;
        console.log(url);
        var request = new XMLHttpRequest();
  //      //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.open("GET", url, false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        var usuarioJS = JSON.parse(request.responseText);
         if (this._isIgual(usuarioJS.dni, this.userdni))
         {
            this.metadata = {
                  "isLogin":"OK",
                  "cliente":usuarioJS,
                  "perfil":usuarioJS.perfil
                };
          }else{
            this.metadata = {
                  "isLogin":"NOK"
                };
          }
      
      }

    }

    window.customElements.define(MyLogin.is,MyLogin);
  </script>
</dom-module>
