<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" >
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="my-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
      .imgMov{ width: 80px; height: 80px; }
      .paper-buton-close{ background-color: #ccc; border-radius: 13px; float: right; min-width: unset !important; margin: 10px; border: solid 2px #b2b2b2; color: #303f9f; padding: unset; width: 26px; text-align: center; }
    </style>

    <link href="../recursos/css/bootstrap.css" rel="stylesheet" />
    <!--<link href="../recursos/css/bootstrap.min.css" rel="stylesheet" />-->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

    <link href="../recursos/css/style.css" rel="stylesheet" />

    <app-localstorage-document id="meta" key="meta" data="{{metadata}}"></app-localstorage-document>

        <div class="container">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="right-div">
                          <button id="btnVolver" class="btn-sm btn-info" on-tap="_volver">Todas mis Cuentas</a>

                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel-body text-center recent-users-sec">
                          <button class="btn btn-success"  on-tap='_Insert'>Transferencia</button>
                        </div>
                    </div>
                  </div>


              </div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                      <h4><a> {{cuenta.dessubprod}}  {{cuenta.cuenta}}</a></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                      <div class="table-responsive">
                         <table class="table table-striped table-bordered table-hover">
                           <thead>
                               <tr class="text-center">
                                   <th>Fecha</th>
                                   <th>Movimientos</th>
                                   <th>Importe</th>
                               </tr>
                           </thead>
                           <tbody>
                             <template is="dom-repeat" items={{movs}} as="val">
                               <tr>
                                 <td>{{val.fecha}}</td>
                                 <td>{{_TipoMovimiento( val.tipo )}}</td>
                                 <td>{{_FormatNumber( val.importe, 2 )}}</td>
                               </tr>
                             </template>
                           </tbody>
                         </table>
                       </div>

                    </div>
                </div>
              </div>

            </div>
        </div

    </div>


<!-- POP CREAR TRANSFERENCIA-->
    <paper-dialog id='popLocal' modal style="overflow-y: scroll;">
       <div class="container">
         <div class="alert alert-info" role="alert" style="text-align:center;">Transferencia</div>
         <div class="card" style="width: 18rem;">
         <div class="card-header">
            <div class="text-center">
             <img src="recursos/img/transferencia.jpg" class="rounded imgMov" alt="Responsive image">
            </div>
          </div>
         <div class="card-body">
            <div class="form-group">
              <label for="importe">Importe</label>
              <input type="text" class="form-control" id="importe" placeholder="Ingresar Importe" value="{{mov.importe::input}}" required>
            </div>
            <div class="form-group">
              <label for="cuenta">Cuenta a Abonar</label>
              <input type="text" class="form-control" id="id_cuenta_transferir" placeholder="Ingresar Cuenta a Abonar" value="{{mov.tipo::input}}" required>
            </div>
            <div class="form-group">
              <label for="referencia">Referencia</label>
              <input type="text" class="form-control" id="id_referencia" placeholder="Ingresar Referencia" value="{{mov.referencia::input}}" required>
            </div>
            <button class="btn btn-success" on-tap="_InsertService">Aceptar</button>
            <button class="btn btn-secondary" dialog-dismiss >Cancelar</button>
         </div>
       </div>
        </div>
    </paper-dialog>

    <iron-ajax
      id="doMovGet"
      auto=""
      url=[[api.bd_host]][[api.bd_movimiento]]/{{cuenta.cuenta}}
      content-type="application/json"
      method="GET"
      handle-as="json"
      on-response="movAJAXResponse"
      on-error="showError"
      headers ='{"Accept" : "application/json; charset=utf-8","Content-Type": "application/json; charset=utf-8"}'>
  </iron-ajax>

    <iron-ajax
      id="doMovPost"
      url=[[api.bd_host]][[api.bd_movimiento]]/{{cuenta.cuenta}}
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="movPutAJAXResponse"
      on-error="showError"
      headers ='{"Accept" : "application/json; charset=utf-8","Content-Type": "application/json; charset=utf-8"}'>
  </iron-ajax>

  </template>

  <script>
    class MyMovimientos extends Polymer.Element {
      static get is() { return 'my-movimientos'; }
      static get properties() {
        return {
          mov: {
            type: Array
          },
          movs: {
            type: Array
          },
          api: {
            type: Object
          },
          cuenta: {
            type: Object,
            value:{}
          },
          is_mov: {
            type: String,
            notify: true
          },
          is_refresh: {
            type: String,
            value:"2"
          },
          metadata: {
           type: Object,
           value: {}
         }
        };
      }

      constructor() {
        super();
      }

      ready(){
        super.ready();
        console.log("Listo Polymer Movimientos");
          console.log(this.metadata);
      }

      movAJAXResponse(data) {
        this.movs=[];
        if(null!=data.detail.response)
          this.movs=data.detail.response.movimiento;
      }

    showError(error) {
      console.log("error")
    }

    movPutAJAXResponse(data) {
      this.$.doMovGet.generateRequest();
      this.$.popLocal.close();
    }

    _volver() {
      this.is_mov="NOK";
      if(this.is_refresh=="OK"){
        this.dispatchEvent(
          new CustomEvent(
            "refaccount",
            {
              "detail" : {
                "refrescar" : "S"
              }
            }
          )
        );
      }
    }

    _isEqualTo(title, string){
      return title == string;
    }

    _Insert(){
      this.mov = {};
      this.$.popLocal.open();
    }

    _InsertService(){
      Console.log(this.mov);
      //this.mov.tipo="T";
      this.$.doMovPost.body = JSON.stringify(this.mov);
      this.$.doMovPost.generateRequest();
      this.is_refresh="OK";
    }

    _TipoMovimiento(string)
    {
      var valor = 'Transferencia'
      if  (string.localeCompare('D') == 0)
        valor = 'Depósito';
      else
      {
          if (string.localeCompare('d')== 0)
              valor = 'Depósito';
      }
      return valor;
    }

    _FormatNumber(amount, decimals) {

      amount += ''; // por si pasan un numero en vez de un string
      amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

      decimals = decimals || 0; // por si la variable no fue fue pasada

      // si no es un numero o es igual a cero retorno el mismo cero
      if (isNaN(amount) || amount === 0)
       return parseFloat(0).toFixed(decimals);

       // si es mayor o menor que cero retorno el valor formateado como numero
       amount = '' + amount.toFixed(decimals);

       var amount_parts = amount.split('.'),
       regexp = /(\d+)(\d{3})/;

       while (regexp.test(amount_parts[0]))
         amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');

       return amount_parts.join('.');
     }
}

    window.customElements.define(MyMovimientos.is, MyMovimientos);
  </script>
</dom-module>
