<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" >
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-styles/default-theme.html">

<dom-module id="my-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .imgUser{ width: 80px; height: 80px; }

    </style>

    <link href="../recursos/css/bootstrap.css" rel="stylesheet" />
    <!--<link href="../recursos/css/bootstrap.min.css" rel="stylesheet" />-->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link href="../recursos/css/style.css" rel="stylesheet" />

    <app-localstorage-document id="meta" key="meta" data="{{metadata}}"></app-localstorage-document>
  <div class="row">
    <div class="container">
          <div class="panel panel-default">
               <!--<div class="panel-heading">
                 <h4 class="panel-title">
                </h4>
              </div>-->
               <div class="panel-body">
                   <div class="row">
                      <div class="col-md-12">

                     </div>
                   </div>
                   <div class="row">
                       <div class="col-md-9">
                        </div>
                        <div class="col-md-3"><paper-button id='id_boton_nuevo_usuario' class="btn btn-info" on-tap="_Insert">Registrar Nuevo Cliente</paper-button>
                        </div>
                   </div>
                   <div class="row">
                     <!--aqui  esta la tabla-->
                     <table class="table table-striped table-bordered w-auto">
                         <thead>
                             <tr class="text-center" >
                                 <th scope="col">DNI</th>
                                 <th scope="col">Nombre</th>
                                 <th scope="col">Ape.Paterno</th>
                                 <th scope="col">Ape.Materno</th>
                                 <th scope="col">Fecha Nacim.</th>
                                 <th scope="col">Correo</th>
                                 <th scope="col">Editar</th>
                                 <th scope="col">Eliminar</th>
                             </tr>
                         </thead>
                         <tbody>
                             <template is="dom-repeat" items={{clientes}} as="cli">
                                 <tr>
                                     <td scope="row">{{cli.dni}}</td>
                                     <td>{{cli.nombre}}</td>
                                     <td>{{cli.apellido1}}</td>
                                     <td>{{cli.apellido2}}</td>
                                     <td>{{cli.fecha_nacimiento}}</td>
                                     <td>{{cli.correo}}</td>
                                     <td>
                                      <paper-button id='id_boton_editar_usuario' class="btn btn-success" on-tap="_Edit" data-item$='[[cli]]'>Editar</paper-button>
                                     </td>
                                     <td>
                                        <paper-button id='id_boton_eliminar_usuario' class="btn btn-success" on-tap="_Delete"  data-item$='[[cli]]'>Eliminar</paper-button>
                                     </td>
                                 </tr>
                               </template>
                         </tbody>
                     </table>


                   </div>
              </div>
          </div>


    </div>

<!-- DIALOGO CREA Y EDITA USUARIO-->
    <paper-dialog id='popLocal' modal style="overflow-y: scroll;">
      <div class="container">

      <div class="alert alert-info" role="alert" style="text-align:center;">NUEVO CLIENTE</div>
         <div class="card" style="width: 18rem;">
           <div class="text-center">
             <div class="card-header">
                <div class="text-center">
                  <template is="dom-if" if="{{isInsert}}">
                      <img src="recursos/img/niño.jpg" class="rounded imgUser responsive" >
                    </template>
                    <template is="dom-if" if="{{!isInsert}}">
                        <img src="recursos/img/niño_editar.jpg" class="rounded imgUser responsive">
                      </template>
                    </div>
                  </div>
            </div>
           <div class="card-body">
             <div class="form-group">
               <label for="nombre">Nombre</label>
               <input type="text" class="form-control" id="nombre" placeholder="Ingresar Nombre" value="{{cliente.nombre::input}}" required>
             </div>
             <div class="form-group">
               <label for="apellido1">Apellido Paterno</label>
               <input type="text" class="form-control" id="apellido1" placeholder="Ingresar Apellido Paterno" value="{{cliente.apellido1::input}}" required>
             </div>
             <div class="form-group">
               <label for="apellido2">Apellido Materno</label>
               <input type="text" class="form-control" id="apellido2" placeholder="Ingresar Apellido Materno" value="{{cliente.apellido2::input}}" required>
             </div>
             <div class="form-group">
               <paper-input label="DNI" name="DNI" value="{{cliente.dni}}"
               maxlength="8"  placeholder="Ingrese el DNI"
               pattern="[0-9]{8}" allowed-pattern="[0-9]" required ></paper-input>
             </div>
              <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="Ingresar Password" value="{{cliente.clave::input}}" required>
              </div>
              <div class="form-group">
                <label for="pass">Fecha Nacimiento</label>
                <input type="date" class="form-control" id="fecha_nacimiento" data-date-split-input="true"  placeholder="Ingresar Fecha Nacimiento" value="{{cliente.fecha_nacimiento::input}}" required>
              </div>
              <div class="form-group">
                <label for="pass">correo</label>
                <input type="mail" class="form-control" id="correo" placeholder="Ingresar correo" value="{{cliente.correo::input}}" required>
              </div>

            <template is="dom-if" if="{{!isInsert}}">
              <button class="btn btn-success" on-tap="_UpdateService">Actualizar</button>
            </template>
            <template is="dom-if" if="{{isInsert}}">
              <button class="btn btn-success" on-tap="_InsertService">Aceptar</button>
            </template>
            <button class="btn btn-secondary" dialog-dismiss >Cancelar</button>

           </div>
         </div>

       </div>
    </paper-dialog>

<!-- DIALOGO ELIMINAR CLIENTE-->
    <paper-dialog id='popLocalConfirm' modal style="overflow-y: scroll;">
      <div class="container">
        <div class="alert alert-info" role="alert" style="text-align:center;">CONFIRMACION</div>
         <div class="card" style="width: 18rem;text-align:center;">
           <div class="text-center">
             <div class="card-header">
                <img src="recursos/img/confirma.jpg"   class="rounded imgUser responsive">
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Confirma la eliminación del cliente?</label>
            </div>
              <button class="btn btn-success" on-tap="_DeleteService">Confirmar</button>
              <button class="btn btn-secondary" dialog-dismiss >Cancelar</button>

           </div>
         </div>
     </div>
    </paper-dialog>

<!--MENSAJES-->
    <paper-dialog id='messageGlobal' modal>
      <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>

      <div class="container">
          <div class="{{messageStyle::input}}" role="alert">
            {{message}}
          </div>
        </div>
    </paper-dialog>


<!-- API IRON  -  AJAX-->
<iron-ajax
  id="doUsersGet"
  auto
  url=[[api.bd_host]][[api.bd_usuarios]]
  content-type="application/json"
  method="GET"
  handle-as="json"
  on-response="usersAJAXResponse"
  on-error="showError"
  headers ='{"Accept" : "text/plain; charset=utf-8", "Content-Type": "text/plain; charset=utf-8"}'>
  </iron-ajax>

<iron-ajax
      id="doUserPost"
      url=[[api.bd_host]][[api.bd_usuario]]
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="userPostAJAXResponse"
      on-error="showError"
      withCredentials="false"
      headers ='{"Accept" : "application/json; charset=utf-8","Content-Type": "application/json; charset=utf-8"}'>
  </iron-ajax>

    <iron-ajax
      id="doAccountPost"
      url=[[api.bd_host]][[api.bd_cuenta]]
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="userAccountAJAXResponse"
      on-error="showError"
      headers ='{"Accept" : "application/json; charset=utf-8","Content-Type": "application/json; charset=utf-8"}'>
  </iron-ajax>

    <iron-ajax
      id="doUserPut"
      url=[[api.bd_host]][[api.bd_usuario]]/{{cliente.dni}}
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="userPutAJAXResponse"
      on-error="showError"
      headers ='{"Accept" : "application/json; charset=utf-8","Content-Type": "application/json; charset=utf-8"}'>
  </iron-ajax>

    <iron-ajax
      id="doUserDelete"
      url=[[api.bd_host]][[api.bd_usuario]]/{{cliente.dni}}
      content-type=""
      method="DELETE"
      handle-as=""
      on-response="userDeleteAJAXResponse"
      on-error="showError"
      headers ='{"Accept" : "text/plain; charset=utf-8", "Content-Type": "text/plain; charset=utf-8"}'>


  </template>

  <script>
    class MyUsuario extends Polymer.Element {
      static get is() { return 'my-usuario'; }
      static get properties() {
        return {
          clientes: {
            type: Array
          },
          api: {
            type: Object
          },
          cliente: {
            type: Object,
            value:{}
          },
          cuenta:{
            type: Object,
            value:{}
          },
          isInsert: {
            type: Boolean,
            value:false
          },
          metadata: {
            type: Object,
            value: {}
          },
          crearcount: {
            type: String
          },
          message: {
            type: String
          },
          messageStyle: {
            type: String
          }
        };
      }

      constructor() {
        super();
      }

      ready(){
        super.ready();
      }

      usersAJAXResponse(data) {
        this.clientes=data.detail.response;

        if(this.crearcount=='S'){
          console.log("creo cuenta para cliente nuevo");
          this.crearcount='N';
          this.cliente = this.clientes[this.clientes.length - 1];
          this.cuenta = {
              "dni" : this.cliente.dni,
              "moneda" : "PEN",
              "producto" : "02",
              "subproducto" : "0100",
              "desprod" : "Cuenta de Ahorro",
              "dessubprod" : "Cuenta Kids Soles",
              "saldo" : 0.0,
              "movimiento" : []
          };

          this.$.doAccountPost.body = JSON.stringify(this.cuenta);
          this.$.doAccountPost.generateRequest();
        }
      }


      showError(error) {
        this.message="";
        this.messageStyle="alert alert-danger";
        console.log(error);
        for (var i in error.detail.request.response)
            this.message+=error.detail.request.response[i].msg+",";
        this.$.messageGlobal.open();
      }

      _Edit(e){
        var varCli = JSON.parse(Polymer.dom(e).localTarget.dataset.item);
        this.isInsert=false;
        this.cliente = varCli;
        /* {
          "dni" : cli.dni,
          "clave" : cli.clave,
          "nombre" : cli.nombre,
          "apellido1" : cli.apellido1,
          "apellido2" : cli.apellido2,
          "estado" : cli.estado,
          "fecha_nacimiento" : cli.fecha_nacimiento,
          "correo" : cli.correo,
          "perfil" : cli.perfil
        };*/
        this.$.popLocal.open();
      }

      _Insert(){
        this.cliente = {};
        this.isInsert=true;
        this.$.popLocal.open();
      }

      _Delete(e){
        var cli = JSON.parse(Polymer.dom(e).localTarget.dataset.item);
        console.log(cli);
        this.cliente = cli;
        /*{
          "dni" : val.dni
        }*/
        this.$.popLocalConfirm.open();
      }

      _InsertService(){
        this.crearcount='S';
        this.cliente.estado = "a";
        this.cliente.perfil = "cliente";
        var x = JSON.stringify(this.cliente);
        console.log(x);
        this.$.doUserPost.body = JSON.stringify(this.cliente);
        this.$.doUserPost.generateRequest();
      }


      _UpdateService(){
        console.log(this.$.doUserPut);
        this.$.doUserPut.body = JSON.stringify(this.cliente);
        this.$.doUserPut.generateRequest();
      }

      _DeleteService(){
        this.$.doUserDelete.generateRequest();
        this.$.popLocalConfirm.close();
      }

      userPostAJAXResponse(data) {
        this.$.doUsersGet.generateRequest();
        this.$.popLocal.close();
      }

      userAccountAJAXResponse(data) {
        this.message="";
        this.messageStyle="alert alert-success";
        this.message="Cuenta creada correctamente";
        this.$.messageGlobal.open();
      }

      userPutAJAXResponse(data) {
        this.$.doUsersGet.generateRequest();
        this.$.popLocal.close();
      }

      userDeleteAJAXResponse(data) {
        this.$.doUsersGet.generateRequest();
      }
  }
  window.customElements.define(MyUsuario.is, MyUsuario);
  </script>
</dom-module>
